.navbar-brand{
    font-size: 30px;
}
.nav-link{
    font-size: 24px;
}
.fa-gift{
    font-size: 2rem;
}
.hero{
    p{
        font-weight: bold;
        font-size: 2rem;
    }
    h1{
        width: 130px;
        font-size: 4rem;
        font-weight: bold;
    }
}
.heroimg{
    display: none;
}
.nav-link{
    font-weight: bold;
}
#about{
    flex-wrap: wrap;
    h1{
        top: 110vh;
    }
}
.question-img{
    align-items: center;
}
#bootstrap-overrides{
    .navbar-nav{
        color: black;
    }
}